body{
    background:grey;
    text-align:center;
    font-family:"Arial",Times, serif;
}
h1{
    color:gray;
    text-align:center;
    font-family:"Arial",Times,serif;
}
p{
    color:darkolivegreen;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}